[data-aos][data-aos][data-aos-delay="50"],body[data-aos-delay="50"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}
[data-aos][data-aos][data-aos-delay="100"],body[data-aos-delay="100"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,body[data-aos-delay="100"] [data-aos].aos-animate {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
[data-aos][data-aos][data-aos-duration="400"],body[data-aos-duration="400"] [data-aos] {
    -webkit-transition-duration: .4s;
    transition-duration: .4s
}
[data-aos][data-aos][data-aos-easing=ease],body[data-aos-easing=ease] [data-aos] {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform,-webkit-transform
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

[data-aos=fade-up] {
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0)
}
body {
    background-color: #000;
    --primary-color:#9b9b9b;--primary-lighter-color:#e1e1e1;--primary-darker-color:#7f7f7f;--text-primary-color:rgba(0, 0, 0, 0.87);--text-primary-lighter-color:rgba(0, 0, 0, 0.87);--text-primary-darker-color:#ffffff;--accent-color:#e2863e;--accent-lighter-color:#f6dbc5;--accent-darker-color:#d66928;--text-accent-color:rgba(0, 0, 0, 0.87);--text-accent-lighter-color:rgba(0, 0, 0, 0.87);--text-accent-darker-color:rgba(0, 0, 0, 0.87);--warn-color:#810000;--warn-lighter-color:#d9b3b3;--warn-darker-color:#640000;--text-warn-color:#ffffff;--text-warn-lighter-color:rgba(0, 0, 0, 0.87);--text-warn-darker-color:#ffffff}
.mat-h2,.mat-title,.mat-typography h2 {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif
}
.mat-display-1,.mat-typography .mat-display-1 {
    font: 400 34px/40px Roboto,"Helvetica Neue",sans-serif
}
.mat-form-field {
    font-size: inherit
}
.mat-h2,.mat-title,.mat-typography h2 {
    font: 500 2.875rem/32px Roboto;
    letter-spacing: .0075em;
    margin: 0 0 16px
}
.mat-display-1,.mat-typography .mat-display-1 {
    font: 400 34px/40px Roboto;
    letter-spacing: .0074em;
    margin: 0 0 64px
}
.mat-button,.mat-fab,.mat-flat-button,.mat-icon-button,.mat-mini-fab,.mat-raised-button,.mat-stroked-button {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto;
    letter-spacing: 1.5px
}

.mat-form-field-wrapper {
    padding-bottom: 1.34375em
}
.mat-form-field-infix {
    padding: .5em 0;
    border-top: .84375em solid transparent
}
.mat-form-field-label-wrapper {
    top: -.84375em;
    padding-top: .84375em
}

.mat-form-field-label {
    top: 1.34375em
}

.mat-form-field-underline {
    bottom: 1.34375em
}

.mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: .6666666667em;
    top: calc(100% - 1.7916666667em)
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    top: 1.28125em
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: .5416666667em;
    top: calc(100% - 1.6666666667em)
}
input.mat-input-element {
    margin-top: -.0625em
}
.mat-ripple {
    overflow: hidden;
    position: relative
}
.mat-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    -webkit-transition: opacity,-webkit-transform cubic-bezier(0,0,.2,1);
    transition: opacity,-webkit-transform 0s cubic-bezier(0,0,.2,1);
    transition: opacity,transform 0s cubic-bezier(0,0,.2,1);
    transition: opacity,transform 0s cubic-bezier(0,0,.2,1),-webkit-transform 0s cubic-bezier(0,0,.2,1);
    -webkit-transform: scale(0);
    transform: scale(0)
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none
}
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    -webkit-animation-name: cdk-text-field-autofill-end;
    animation-name: cdk-text-field-autofill-end
}
.mat-ripple-element {
    background-color: rgba(255,255,255,.1)
}
.mat-button-focus-overlay {
    background: #fff
}
.mat-fab,.mat-flat-button,.mat-mini-fab,.mat-raised-button {
    color: #fff;
    background-color: #0d0d0d
}
.mat-flat-button:not([class*=mat-elevation-z]),.mat-stroked-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12)
}
.mat-form-field-label,.mat-hint {
    color: rgba(255,255,255,.7)
}
.mat-form-field-ripple {
    background-color: #fff
}
.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid).mat-warn .mat-form-field-infix::after,.mat-form-field.mat-form-field-invalid .mat-form-field-label,.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent {
    color: #810000
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: #810000
}

.mat-error {
    color: #810000
}

.mat-form-field-appearance-legacy .mat-form-field-label,.mat-form-field-appearance-legacy .mat-hint {
    color: rgba(255,255,255,.7)
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 1.25em;
    background-color: rgba(255,255,255,.7)
}
.mat-input-element {
    caret-color: #9b9b9b
}
.mat-input-element::placeholder {
    color: rgba(255,255,255,.5)
}
.mat-input-element::-webkit-input-placeholder {
    color: rgba(255,255,255,.5)
}
.mat-form-field-invalid .mat-input-element,.mat-warn .mat-input-element {
    caret-color: #810000
}
#section-1 .section span {
    padding: 0 10px
}
.section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    resize: both;
    text-align: center
}
.section .align-items-center h1 {
    margin: 0 auto
}
h2 {
    text-transform: uppercase;
    padding-bottom: 2.875rem;
    color: #fff
}
@media (max-width: 990px) {
    h2 {
        font-size:4vw!important;
        line-height: 4vw!important
    }
}

@media (max-width: 599px) {
    h2 {
        font-size:6vw!important;
        line-height: 6vw!important
    }

    h3 {
        font-size: 4vw!important;
        line-height: 4vw!important
    }
}

#section-2 {
    max-width: 1140px;
    display: -webkit-box;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    color: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center
}

#section-2 .container .row {
    padding: 10px 6px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: wrap
}

#section-2 .row {
    border-top: 1px solid rgba(255,255,255,.12)
}

#section-2 .row:first-of-type {
    border-top: none
}

#section-2 .showDate {
    text-align: left;
    margin: 0 auto 0 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

#section-2 .showPlace {
    text-align: right;
    -webkit-box-align: center;
    align-items: center
}

#section-2:first-child {
    -webkit-box-flex: 1;
    flex-grow: 1
}

.no_show {
    display: none;
    margin: 0 auto 15px;
    padding-top: 2.875rem
}

.no_show:first-of-type {
    display: block
}

.mat-flat-button,.mat-raised-button,.mat-stroked-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
}

.mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em
}

body.ie .section {
    display: table;
    min-height: 4em
}

body.ie .section:after {
    content: "";
    min-height: inherit;
    font-size: 0
}
